
<h1 class="text-center">Logy</h1>

<div class="row pt-4">
  <table id="errorsTable" class="table">
    <thead>
      <tr>
        <th>Message</th>
        <th>File URL</th> 
        <th>Line number</th>
        <th>Column number</th>
        <th>Datetime</th>
      </tr>
    </thead>
    <tbody id="errorsTableBody">
    <% _.each(data, function (item) { %>
      <tr>
        <td><%= item.message %></td>
        <td><%= item.scriptUrl %></td>
        <td><%= item.lineNumber %></td>
        <td><%= item.columnNumber %></td>
        <td><%= item.timestamp %></td>
        <td>
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#logDetailsModal" data-id="<%= item.id %>" onClick="LogDetailsModule.showLogDetails(this)">
            <i class="fa fa-info-circle"></i>
          </button>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="logDetailsModal" tabindex="-1" role="dialog" aria-labelledby="logDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logDetailsModalLabel">Log details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="logDetailsModalBody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
